@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;544;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Spectral', serif;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{ 
    background: #111;
    width: 15px;
    
    box-shadow: inset 0 0 10px #645035;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px #c9bfa9c0;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb{
    background: #b1aaa1 ;
    border-radius: 10px;
    border: #fff1db solid 1px ;
}


.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #252525;
    width: auto;
    height: 60px;
    box-shadow: 0px 0px 60px #101010;
    /* position:fixed; */
}

.riot{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    margin-left: 30px;
}

.tittle{
    color: #DEC678;
    font-size: xx-large;
    font-style: unset;
    justify-content: center;
    font-weight: 900;
    text-shadow: 8px 2px 8px #101010;   
    
}

.play{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    margin-right: 20px;
    
    font-size: large;
    font-weight: 600;
    color: #9D9D9D;
    font-family: 'Radio Canada', sans-serif;

    background-color: #111;
    border: #DEC678 inset 1px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #101010;
}
.nav a{
    text-decoration: none;
    border-radius: 1px;
}

 body{
    display: flex;
    background-image: url(img/Rakan_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
} 

.videoButton-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    backdrop-filter: blur(3px);
}

.video{  
    /* border:#101010 solid 1px; */
    width: 950px;
    height: 688px;  
    /* margin-top: -90px; medidas en negativo */
    margin-top: -50px;    
}

.videoButton-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 45px;
    z-index: 2;
    margin-top: 60px; /* aqui tambien hay negativo */
    margin-bottom: 100px;
     
    background-color: #252525;
    border: #DEC678 inset 1px;
    border-radius: 1px;
    box-shadow: 0px 0px 20px #101010;
    text-shadow: 0.1em 0.1em 0.1em #111;
}

.url-boton{       
    text-decoration: none;
    color: #DEC678;
    font-size: 22px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Radio Canada', ;   
}


.logoLeague{
    margin-top: -500px;
}

/*     --     SEGUNDA PANTALLA     --     */

.container-secondScreen{
    display: flex;
    justify-content: left;
    width: auto;
    height: auto;
    border: #B8B892 solid 2px ;
    border-radius: 1.5%;
    background-image: url(img/backgroundPattern.png);
    background-color: whitesmoke;
}

#cards{
    display: none;
}
.container-roles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 50%;
    margin: 6%; 
}

.rButton{
    display: flex;
    justify-content: space-around;
}

.sub-cont-rol{
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-end;
    
    align-items: baseline;
    margin: 2%; 
    margin-top: 7%;
}
.dotFrame{
    width: auto;
    height: 395px;
    position: absolute;
    opacity: 15%;
    margin: 50px 15px;
}

.circleFrame{
    width: auto;
    height: 420px;
    position: absolute;
    margin: 50px 15px;
}

.btnChamps{
    width: auto;
    height: 50px;
}
.roleDiv{
    display: flex;
    position: absolute;
    align-items: right;
}

/*     --     texto champs    -    */

.tittleRol{
    text-align: center;
    margin-right: 16%;
    text-decoration: double;
}

.textRol{
    text-align: center;
    margin: 5% 10% 10% 10%;
    padding-right: 18%;
}


.akali {
    width: auto;
    height: 470px;
}
.yasuo {
    width: auto;
    height: 470px;
}
.jinx {
    width: auto;
    height: 470px;  
}
.lux {
    width: auto;
    height: 470px;
}
.leona {
    width: auto;
    height: 470px;

}
.thresh {
    width: auto;
    height: 470px; 
}

#div-assassin{
    display:none;
    position: absolute;z-index:2;   
}
#div-fighter{
    display:none;
    position: absolute;z-index:2;
}
#div-mage{
    display:none;
    position: absolute;z-index:2;
}
#div-marksman{
    display:none;
    position: absolute;z-index:2;
}
#div-support{
    display:none;
    position: absolute;z-index:2;
}
#div-tank{
    display:none;
    position: absolute;z-index:2;
}


/*     --     FOOTER     --     */

footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    
    width: auto;
    height: 60px;
    background-color: #252525;
    margin-top: 2px; 
    padding: 5px;
    border-radius: 2%;

}

.logoLOL {
    display: flex;
    width: auto;
    height: 50px;;
    margin-left: 30px;
}

.logoRiot{
    display: flex;
    width: auto;
    height: 50px;
}

.cont-logos{
    display: flex;
    align-items: center;  
    margin-right: 20px; 
     
}

.logoRS1{
    width: 55px;
    height: 55px;
    margin-top: 8px;   
}

.logoRS2{
    width: 55px;
    height: 55px;
    margin-top: 8px;
}


.contDiv{
    display:flex;
    flex-direction: column;
    height: 160px;
    width: 500px;
}

.div0{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 160px;
    width: 500px;
    background-color: #252525;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 8px 10px #101010;
    margin: 12px;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 50% ;

    height: 100% ;

    /* border: red solid 2px; */
}

.splashCard{
    
    width: 99%;
    height: 155px;
    border-radius: 8px;
    box-shadow: 0px 8px 10px #101010;
    /* border: blue solid 2px; */
   
}

.div2{
    display: flex;
    width: 50%;
    height: 100%;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: left;
    /* border: red solid 2px; */
}

.div3{
    display: flex;
    justify-content: left;
    width: 100%;
    height: 30%;
    text-align: left;
    align-items: center;
    
}
.div3 h3 {
    width: auto;
    height: 30px;
    background-color: #3f3f3f;
    color: #ffffff;
    border-radius: 2px;
    z-index: 0;
    text-align: left;
}

.div4{
    display:flex;
    align-items: center;
    flex-direction: column;

    border: red solid 2px;

    width: 257px;
    height: 118px; 
}


.iconImage{
    height: 36px;
    width: 36px;
    border: #FFCA42 solid 2px;
    border-radius: 1px;
    text-align: left;
    margin: 2px;
    z-index: 3;
    
}

.nameCard{
    height: 41.99px;
    width: auto;
    margin: 2px;
    align-items: center;
    text-align: center;
}

/* .infoCard{
    width: auto;
    height: 80px;
} */

/*info-cards*/

.attackCard{
    width: 250px;
    height: 25px;
    text-align: left;
    font-weight: normal;

    border-radius: 2px;
    margin: 1.5px;
    
    letter-spacing: 1.8px;
    background-color: #3f3f3f;
    color: #ffffff;
}

.defenseCard{
    width: 250px;
    height: 25px;
    text-align: left;
    font-weight: normal;

    border-radius: 2px;
    margin: 1.5px;
    
    letter-spacing: 1.8px;
    background-color: #3f3f3f;
    color: #ffffff;
}

.magicCard{
    width: 250px;
    height: 25px;
    text-align: left;
    font-weight: normal;

    border-radius: 2px;
    margin: 1.5px;
    
    letter-spacing: 1.8px;
    background-color: #3f3f3f;
    color: #ffffff;
}

.diffCard{
    width: 250px;
    height: 25px;
    text-align: left;
    font-weight: normal;

    border-radius: 2px;
    margin: 1.5px;
    
    letter-spacing: 1.8px;
    background-color: #3f3f3f;
    color: #ffffff;
}
