@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;544;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Spectral', serif;
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{ 
    background: #111;
    width: 15px;
    
    box-shadow: inset 0 0 10px #645035;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px #c9bfa9c0;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb{
    background: #b1aaa1 ;
    border-radius: 10px;
    border: #fff1db solid 1px ;
}


.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #252525;
    width: auto;
    height: 60px;
    box-shadow: 0px 0px 60px #101010;
}

.riot{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40%;
    margin-left: 30px;
}

.tittle{
    color: #83775f;
    font-size: xx-large;
    font-style:unset;
    justify-content: center;
    font-weight: 900;
    margin-right: 150px;
    text-shadow: 1px 2px 10px #101010;
}

.play{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    margin-right: 20px;
    
    font-size: large;
    font-weight: 600;
    color: #9D9D9D;
    font-family: 'Radio Canada', sans-serif;

    background-color: #111;
    border: #B8B892 solid 1px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #101010;
}
.nav a{
    text-decoration: none;
}

 body{
    background-image: url(/SCL020-data-lovers/img/Rakan_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 

.videoButton-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    backdrop-filter: blur(3px);
}

.video{  
    /* border:#101010 solid 1px; */
    width: 950px;
    height: 688px;  
    /* margin-top: -90px; medidas en negativo */
    margin-top: -50px;    
}

.videoButton-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 45px;

    margin-top: 60px; /* aqui tambien hay negativo */
    
    font-size: 40px;
    letter-spacing: 2.8;
    font-weight: 600;
    color: #9D9D9D;
    font-family: 'Radio Canada', sans-serif;

    background-color: #252525;
    border: #B8B892 solid 1px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #101010;
    text-shadow: 0.1em 0.1em 0.1em #111;
}

.logoLeague{
    margin-top: -500px;
}

footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    
    width: auto;
    height: 45px;
    background-color: #252525;
    margin-top: 3px;
   
}

.logoLOL{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
   
    margin-left: 30px;

}

.logoRiot{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: auto;
}

.containerLogos{
    display: flex;      
}

.logoT{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: auto;    
}

.logoYT{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: auto;
}

.container-secondScreen{
    display: flex;

    width: 90%;
    height: 90%;
    border: red solid 1px ;
    background-image: url(/SCL020-data-lovers/img/Rakan_img.jpg);
}