@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;544;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Spectral', serif;
}

html{
    scroll-behavior: smooth;
}



::-webkit-scrollbar{ 
    background: #C4C4C4;
    width: 15px;
    
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px #c9bfa9c0;
    border-radius: 2px;
    border: #eeeeee solid 1px;
}

::-webkit-scrollbar-thumb{
    background: #000000 ;
    border-radius: 6px;
    height: 50px;
    border: #C4C4C4 solid 2px ;
    
}


body{
    display: flex;
    background-image: url(img/Rakan_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
} 

main{
    display: flex;
    flex-direction: column;
    
}

/*     --     Navegación     --     */

.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #252525;
    width: auto;
    height: 60px;
    box-shadow: 0px 0px 60px #101010;   
}

.nav a{
    text-decoration: none;
    border-radius: 1px;
}

.riot{
    display: flex;
    justify-content: center;
    width: 100px;
    margin-left: 45px;
}

.tittle{
    display: flex;
    justify-content: center;

    color: #DEC678;
    font-size: xx-large;
    font-style: unset;
    font-weight: 900;
    text-shadow: 8px 2px 8px #101010;    
}

.play{
    display: flex;
    justify-content: center;

    align-items: center;
    width: 120px;
    height: 35px;
    margin-right: 30px;
    
    font-size: large;
    font-weight: 600;
    color: #9D9D9D;
    font-family: 'Radio Canada', sans-serif;

    background-color: #111;
    border: #DEC678 inset 1px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #101010;
}

/*     --     First Screen     --     */

.container-firstScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    backdrop-filter: blur(3px);
}

.video{  
    /* border:#101010 solid 1px; */
    width: 900px;
    height: 700px;  
    /* margin-top: -90px; medidas en negativo */
    margin-top: -55px;    
}

.container-firstScreen button{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 42px; 
    margin-bottom: 100px;    

    border: #DEC678 inset 1px;
    border-radius: 2px;
    box-shadow: 0px 0px 20px #101010;
}

.url-boton{       
    display: flex;
    justify-content: center;
    align-items: center;

    width: 220px;
    height: 45px;;

    background-color: #252525;

    color: #ceb152;
    text-decoration: none;
    text-shadow: 1px 1px 10px rgb(2, 2, 2);
    font-size: large;
    font-weight: 600;
    font-family: 'Radio Canada', sans-serif;
    letter-spacing: 2px;
}

.logoLeague{
    margin-top: -500px;
}

/*     --     SEGUNDA PANTALLA     --     */

.container-secondScreen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: 662px;
    border: #B8B892 inset 1px ;
    background-image: url(img/backgroundPattern.png);
    background-color: whitesmoke;
    padding: 10px 50px;

}


/*       --   BTN ROLES CARDS-DIV     --     */

.roles-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 60%;
    height: 662px;
    /* border: blue 3px solid; */
}

.btnShow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.btnShow button{
    
    width: auto;
    height: auto;
    margin-right: 30px;
    margin-left: 30px;
    padding: 0px 25px;

    text-align: center;
    letter-spacing: 5px;
    color: #6E5B5B;
    

    border: #A88B47 solid 3px;
    border-radius: 2px;
    background-color: transparent;

    
    box-shadow:  inset 1px 0.5px 15px #e2d9c2;  
}

.container-roles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    /* border: red solid 3px; */
}

.sub-cont-rol{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    
    align-items: center;
    margin: 5px;
    padding: 20px;
}

.rButton{
    border: #6E5B5B solid 3px;
} 

.contDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 620px;
    width: 520px;
}

 #cards{
    display: none;
    justify-content: center;
    overflow: auto;
    direction: rtl;
    height: 400px;
    width: 550px;
    border: #d4d4d4 solid 3px;
    border-radius: 2px;
    
} 

.div0{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 160px;
    width: 500px;
    background-color: #252525;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 8px 10px #101010;
    margin: 12px;
   
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 50% ;

    height: 100% ;
    
    /* border: red solid 2px; */
}

.splashCard{
    
    width: 99%;
    height: 160px;
    border-radius: 8px;
    box-shadow: 0px 8px 10px #101010;
    /* border: blue solid 2px; */   
}

.div2{
    display: flex;
    width: 50%;
    height: 100%;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: left;
    /* border: red solid 2px; */
}

.div3{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    width: 250px;
    height: 30%;
    align-items: center;
    
}

.div3 h3 {
    width: 257px;
    height: 41.99px;
    background-color: #3f3f3f;
    color: #ffd900;
    border-radius: 2px;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 1;
    box-shadow:  inset 0px 30px 25px #363636;
}

.div4{
    display:flex;
    align-items: center;
    flex-direction: column;

    width: 257px;
    height: 118px; 
}


.iconImage{
    height: 36px;
    width: 36px;
    border: #FFCA42 solid 2px;
    border-radius: 1px;
    text-align: left;
    margin: 2px;
    z-index: 2;    
}


/* .infoCard{
    width: auto;
    height: 80px;
} */

/*info-cards*/

.attackCard{
    width: 250px;
    height: 25px;
    text-align: left;
    font-weight: normal;

    border-radius: 2px;
    margin: 1.5px;
    
    letter-spacing: 1.8px;
    background-color: #3f3f3f;
    color: #ffffff;
}

.defenseCard{
    width: 250px;
    height: 25px;
    text-align: left;
    font-weight: normal;

    border-radius: 2px;
    margin: 1.5px;
    
    letter-spacing: 1.8px;
    background-color: #3f3f3f;
    color: #ffffff;
}

.magicCard{
    width: 250px;
    height: 25px;
    text-align: left;
    font-weight: normal;

    border-radius: 2px;
    margin: 1.5px;
    
    letter-spacing: 1.8px;
    background-color: #3f3f3f;
    color: #ffffff;
}

.diffCard{
    width: 250px;
    height: 25px;
    text-align: left;
    font-weight: normal;

    border-radius: 2px;
    margin: 1.5px;
    
    letter-spacing: 1.8px;
    background-color: #3f3f3f;
    color: #ffffff;
}

/*     -- FRAMES - ROL    --     */

.framesRol-div{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 40%;
    height: 100%;
    padding: 20px;
    /* border: blue 3px solid;     */
}

.dotFrame{
    width: auto;
    height: 350px;
    position: absolute;
    opacity: 15%;
    margin-left: 60px;
    margin-top: 65px;
    
}

.circleFrame{
    width: auto;
    height: 372px;
    position: absolute;
    margin-left: 60px;
    margin-top: 65px;

    
}

/*     --     IMG CHAMPS RBUTTON     --    */
.roleDiv{
    display: flex;
    position: absolute;
    align-items: left;
}

.akali {
    width: auto;
    height: 470px;
}
.yasuo {
    width: auto;
    height: 470px;
}
.jinx {
    width: auto;
    height: 470px;
}
.lux {
    width: auto;
    height: 470px;
}

.thresh {
    width: auto;
    height: 470px; 
    
}

.leona {
    width: auto;
    height: 470px;

}

#div-assassin{
    display:none;
    position: absolute;
    z-index:2;   
    /* border: red solid 2px; */
    margin-left: 30px;
}
#div-fighter{
    display:none;
    position: absolute;
    z-index:2;
    /* border: red solid 2px; */
    margin-left: 30px;
}
#div-mage{
    display:none;
    position: absolute;
    z-index:2;
    /* border: red solid 2px; */
    margin-left: 25px;
}
#div-marksman{
    display:none;
    position: absolute;
    z-index:2;
    /* border: red solid 2px; */
    margin-left: 30px;
}
#div-support{
    display:none;
    position: absolute;
    z-index:2;
    /* border: red solid 2px; */
    margin-left: 25px;
}
#div-tank{
    display:none;
    position: absolute;
    z-index:2;
    /* border: red solid 2px; */
    margin-left: 28px;
}


/*     --     INFO CHAMPS    -    */

.cntnTitleText{
    width: fit-content;
    height: fit-content;
}

.tittleRol{
    /* border: green solid 1px; */
    text-align: center;    
    text-decoration: double;
    width: auto;
    height: 10%;
    margin-top: -25px;

}

.textRol{
    
    width: 420px;
    height: 100px;
    text-align: center;
    font-size: small;
    /* margin: 5% 10% 10% 10%; */
    
}

/*     --     FOOTER     --     */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: auto;
    height: 60px;
    background-color: #252525;
    margin-top: 2px; 
    padding: 5px;
    border-radius: 2%;

}

.logoLOL {
    display: flex;
    width: auto;
    height: 50px;;
    margin-left: 30px;
}

.logoRiot{
    display: flex;
    width: auto;
    height: 50px;
}

.cont-logos{
    display: flex;
    align-items: center;  
    margin-right: 20px; 
     
}

.logoRS1{
    width: 55px;
    height: 55px;
    margin-top: 8px;   
}

.logoRS2{
    width: 55px;
    height: 55px;
    margin-top: 8px;
}

@media screen and (max-width: 1200px){
    .container-firstScreen{
        /* border: red solid 5px; */
        width: auto;
        height: 585px;
        /* src: url(img/backgroundPattern.png); */
    
    }
    .framesRol-div{
        display: none;
    }
    .container-roles{
        display: flex;
        justify-content: center;
    }
    
    .video{
        display: flex;
        width: auto;
        height: 400px;  
        margin: 100px;
        
    }
    .logoLeague{
        display: flex;
        width: 600px;
        justify-content: center;
        align-items: center;
        padding: 60px;
    }

    .container-firstScreen button{
        justify-content: center;
        margin-top: 0px;
    }

    .btnShow{
        margin-top: 100px;
        min-width: 450px;
    }
}

@media screen and (max-width: 720px){

    .container-firstScreen{
        /* border: purple solid 5px; */
        width: auto;
        height: 570px;
        /* src: url(img/backgroundPattern.png); */
    
    }

    .tittle{
        font-size:medium
    }
    .video{
        display: flex;
        width: auto;
        height: 300px;  
        margin: 100px;
        
    }

    .logoLeague{
        display: flex;
        width: 400px;
        justify-content: center;
        align-items: center;
        padding: 160px;
    }

    .container-firstScreen button{
        justify-content: center;
        margin-top: -120px;
    }

    a.url-boton{
        display: flex;
        justify-content: center;
        
    } 

    
    .container-secondScreen{
        /* border: purple solid 5px; */
        min-width: auto;
    }
    .framesRol-div{
        display: none;
    }

    .btnShow{
        margin-top: 100px;
        min-width: 450px;
    }
    .container-roles{
        display: flex;
        justify-content: center;
    }

    .sub-cont-rol{
        width: 10px;
        padding: 40px;
    }

    .sub-cont-rol img{
        height: 70px;
        width: auto;
    }
    #cards{
        justify-content: center;
        align-items: center;
        width: 550px;
        height: 250px;
        margin-left: -10px;
    } 
}


@media screen and (max-width: 500px){

    .container-firstScreen{
        /* border: blue solid 5px; */
        width: auto;
        height: 570px;
        /* src: url(img/backgroundPattern.png); */
    
    }

    .tittle{
        font-size: medium;    
    }
    .video{
        display: flex;
        width: auto;
        height: 250px;  
        margin: 150px;
        
    }

    .logoLeague{
        display: flex;
        width: 300px;
        justify-content: center;
        align-items: center;
        padding: 160px;
    }

    .container-firstScreen button{
        justify-content: center;
        margin-top: -120px;
        width: auto;
    }

    a.url-boton{
        display: flex;
        justify-content: center;
        width: 90px;
        height: 25px;
        font-size: small;
        
    } 

    
    .container-secondScreen{
        /* border: blue solid 5px; */

        min-width: auto;
    }
    .framesRol-div{
        display: none;
    }
    .container-roles{
        display: flex;
        justify-content: center;
    }

    .sub-cont-rol{
        padding: 30px;
    }

    .sub-cont-rol img{
        height: 50px;
        width: auto;
    }
    .rButton{
        width: auto;
        height: 10px;
    }


    #cards{
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 250px;
        margin-left: 30px;
    } 

    .div0{
        width: 380px;
        height: 150px;
    }

    .attackCard{
        width: 190px;
        height: 25px;
        text-align: left;
        font-weight: normal;
    
        border-radius: 2px;
        margin: 1.5px;
        
        letter-spacing: 1.8px;
        background-color: #3f3f3f;
        color: #ffffff;
    }
    
    .defenseCard{
        width: 190px;
        height: 25px;
        text-align: left;
        font-weight: normal;
    
        border-radius: 2px;
        margin: 1.5px;
        
        letter-spacing: 1.8px;
        background-color: #3f3f3f;
        color: #ffffff;
    }
    
    .magicCard{
        width: 190px;
        height: 25px;
        text-align: left;
        font-weight: normal;
    
        border-radius: 2px;
        margin: 1.5px;
        
        letter-spacing: 1.8px;
        background-color: #3f3f3f;
        color: #ffffff;
    }
    
    .diffCard{
        width: 190px;
        height: 25px;
        text-align: left;
        font-weight: normal;
    
        border-radius: 2px;
        margin: 1.5px;
        
        letter-spacing: 1.8px;
        background-color: #3f3f3f;
        color: #ffffff;
    }
    
    .splashCard{
        
        width: 180px;
        height: 150px;
        border-radius: 8px;
        box-shadow: 0px 8px 10px #101010;
        /* border: blue solid 2px; */   
    }
        
    .div3 h3 {
        width: 157px;
        height: 35px;    
    }
        
    .iconImage{
        height: 30px;
        width: 30px;
        margin-left: 25px;   
    }
}

@media screen and (max-width: 414px){

    body{
        /* background-image: url(img/backgroundPattern.png); */
        background-attachment: fixed;
        border: greenyellow inset 1px;
        width: 413px;
        height: 896px;
    }

    header{
        border: orangered solid 1px;
        
    }
    .riot{
        width: 70px;
        margin-left: 10px;
    }
    .tittle{
        font-size: medium;
    }
    .play{
        width: 70px;
        height: 25px;
        margin: 5px;
        font-size: small;
        
    }

    .container-firstScreen{
        border: cyan solid 1px;
        width: auto;
        height: 480px;

    }

    .logoLeague{
        width: 250px;
    }
    .video{
        width: 350px;
    }
    
    
    
    /*.container-secondScreen{
        width: 414px;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .container-roles{
        /* display: flex;
        flex-wrap: wrap; */
        /* flex-direction: row;
        width: 100px;
    }
    .sub-cont-rol{
        display: flex;
        flex-wrap: wrap;

        width: 1px;
    }

    .sub-cont-rol img{
        width: 10px;
    }

    .contDiv{
        width: 300px;
    }

    #cards{
        width: 250px;
    } */ 
}